<div class="backgroundColorMain">
    <mat-card class="cardPopUp">
        <mat-card-content>
            <div class="centerText">
                <img [src]="url" />
            </div>
            <br>
            <form [formGroup]="loginForm">
                <mat-toolbar color="primary"> <span class="headerlogin centerText"> {{loginHeader}} </span>
                </mat-toolbar>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="fromField">
                            <input matInput formControlName="EmailId" placeholder="{{emailIdTitle}}" required autofocus>
                            <mat-error *ngFor="let validation of validationMessages.EmailId">
                                <span
                                    *ngIf="loginForm.controls['EmailId'].hasError(validation.type) && (loginForm.controls['EmailId'].dirty || loginForm.controls['EmailId'].touched)">{{validation.message}}
                                </span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="fromField">
                            <input matInput formControlName="Password" placeholder="{{passwordTitle}}"
                                type="{{ hide ? 'password' : 'text'}}" (ngModelChange)="validationSinup()" required>
                            <mat-error *ngFor="let validation of validationMessages.Password">
                                <span
                                    *ngIf="loginForm.controls['Password'].hasError(validation.type) && (loginForm.controls['Password'].dirty || loginForm.controls['Password'].touched)">{{validation.message}}
                                </span>
                            </mat-error>
                            <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">
                                {{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row centerText">
                    <div>
                        <button mat-raised-button color="primary" (click)="onLogin()"
                            class="loginButton">{{loginButtonName}}</button>
                    </div>
                </div>
                <div class="row link">
                    <div class="col-md-12">
                        <span>
                            <a class="product-link" (click)="onForgotPassword()">{{forgotPassword}}</a>
                        </span>
                        <span class="signlink">
                            <a class="product-link" [routerLink]="['/signup']">{{signUp}}</a>
                        </span>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>