<div class="backgroundColorMain">
    <mat-card class="cardPopUp">
        <mat-toolbar color="primary"> <span class="md-title text-center headerTitle"> {{signUpHeader}} </span>
        </mat-toolbar>
        <br>
        <mat-card-content>
            <form [formGroup]="signupForm">
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="fromField">
                            <input autofocus matInput formControlName="FirstName" placeholder="{{firstNameTitle}}" required autofocus>
                            <mat-error *ngFor="let validation of validationMessages.FirstName">
                                <span
                                    *ngIf="signupForm.controls['FirstName'].hasError(validation.type) && (signupForm.controls['FirstName'].dirty || signupForm.controls['FirstName'].touched)">{{validation.message}}
                                </span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="fromField">
                            <input matInput formControlName="LastName" placeholder="{{lastNameTitle}}" required>
                            <mat-error *ngFor="let validation of validationMessages.LastName">
                                <span
                                    *ngIf="signupForm.controls['LastName'].hasError(validation.type) && (signupForm.controls['LastName'].dirty || signupForm.controls['LastName'].touched)">{{validation.message}}
                                </span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="fromField">
                            <input matInput formControlName="MobileNo" placeholder="{{mobileNoTitle}}"
                                onkeypress="if ( isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;"
                                required>
                            <mat-error *ngFor="let validation of validationMessages.MobileNo">
                                <span
                                    *ngIf="signupForm.controls['MobileNo'].hasError(validation.type) && (signupForm.controls['MobileNo'].dirty || signupForm.controls['MobileNo'].touched)">{{validation.message}}
                                </span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="fromField">
                            <input matInput formControlName="EmailId" placeholder="{{emailIdTitle}}" required>
                            <mat-error *ngFor="let validation of validationMessages.EmailId">
                                <span
                                    *ngIf="signupForm.controls['EmailId'].hasError(validation.type) && (signupForm.controls['EmailId'].dirty || signupForm.controls['EmailId'].touched)">{{validation.message}}
                                </span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="fromField">
                            <input matInput formControlName="Password" placeholder="{{passwordTitle}}"
                                type="{{ hide ? 'password' : 'text'}}" (ngModelChange)="validationSinup()" required>
                            <mat-error *ngFor="let validation of validationMessages.Password">
                                <span
                                    *ngIf="signupForm.controls['Password'].hasError(validation.type) && (signupForm.controls['Password'].dirty || signupForm.controls['Password'].touched)">{{validation.message}}
                                </span>
                            </mat-error>
                            <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">
                                {{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        <mat-form-field class="fromField">
                            <input matInput formControlName="ConfirmPassword" placeholder="{{confirmPasswordTitle}}"
                                type="{{ hideConfirm ? 'password' : 'text'}}">
                            <mat-error *ngFor="let validation of validationMessages.ConfirmPassword">
                                <span
                                    *ngIf="signupForm.controls['ConfirmPassword'].hasError(validation.type) && (signupForm.controls['ConfirmPassword'].dirty || signupForm.controls['ConfirmPassword'].touched)">{{validation.message}}
                                </span>
                            </mat-error>
                            <mat-icon style="cursor: pointer;" matSuffix (click)="hideConfirm = !hideConfirm">
                                {{hideConfirm ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <button mat-raised-button color="primary" (click)="onSave()"
                            class="savebutton">{{signUpButtonName}}</button>
                    </div>
                </div>
                <div class="row">
                    <div class="loginLink">
                        {{LoginToAccount}} <a href="/login">{{Login}}</a>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>