<app-header></app-header>
<div class="backgroundColorMain">
    <mat-card class="cardPopUp">
        <mat-toolbar color="primary"> <span class="md-title text-center headerTitle"> {{changePasswordHeader}} </span>
        </mat-toolbar>
        <br>
        <mat-card-content>
            <form [formGroup]="changePasswordForm">
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="fromField">
                            <input matInput formControlName="CurrentPassword" placeholder="{{currentPasswordName}} "
                                type="{{ hideCurrent ? 'password' : 'text'}}"
                                (ngModelChange)="validationChangePassword()" required autofocus>
                            <mat-error *ngFor="let validation of validationMessages.CurrentPassword">
                                <span
                                    *ngIf="changePasswordForm.controls['Password'].hasError(validation.type) && (changePasswordForm.controls['Password'].dirty || changePasswordForm.controls['Password'].touched)">{{validation.message}}
                                </span>
                            </mat-error>
                            <mat-icon style="cursor: pointer;" matSuffix (click)="hideCurrent = !hideCurrent">
                                {{hideCurrent ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="fromField">
                            <input matInput formControlName="Password" placeholder=" {{passwordName}}"
                                type="{{ hide ? 'password' : 'text'}}" (ngModelChange)="validationReset()" required>
                            <mat-error *ngFor="let validation of validationMessages.Password">
                                <span
                                    *ngIf="changePasswordForm.controls['Password'].hasError(validation.type) && (changePasswordForm.controls['Password'].dirty || changePasswordForm.controls['Password'].touched)">{{validation.message}}
                                </span>
                            </mat-error>
                            <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">
                                {{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        <mat-form-field class="fromField">
                            <input matInput formControlName="ConfirmPassword" placeholder="{{confirmPasswordName}} "
                                type="{{ hideConfirm ? 'password' : 'text'}}" required>
                            <mat-error *ngFor="let validation of validationMessages.ConfirmPassword">
                                <span
                                    *ngIf="changePasswordForm.controls['ConfirmPassword'].hasError(validation.type) && (changePasswordForm.controls['ConfirmPassword'].dirty || changePasswordForm.controls['ConfirmPassword'].touched)">{{validation.message}}
                                </span>
                            </mat-error>
                            <mat-icon style="cursor: pointer;" matSuffix (click)="hideConfirm = !hideConfirm">
                                {{hideConfirm ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 changeButton">
                        <button mat-stroked-button color="warn" (click)="onCancel()" class="cancelButton">
                            {{cancelButton}}</button>
                        <button mat-raised-button color="primary" (click)="onSave()">{{changePasswordButton}} </button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>