.cardPopUp{
    max-width: 440px;
    text-align: center;
    position: relative;
    top: 110px;
    margin-left:auto;
    margin-right:auto;
    vertical-align:middle;
    padding: 28px;
}

.headerTitle{
    flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: cente; 
    margin: 0 auto;
}

.fromField {
    display: block;
}

.cancelbutton{
    left: 148px;
    top: 5px;
}

.savebutton{
    left: 171px;
    top: 5px;
}

.changeProfile{
    text-align: right;
}

.cancelButton{
    margin: 0px 10px;
}

@media only screen and (max-width:600px) and (min-width: 260px) {
    .cardPopUp{
        max-width: 440px;
        text-align: center;
        position: relative;
        margin-left:auto;
        margin-right:auto;
        vertical-align:middle;
        top: 5px;
     
    }
}

  @media only screen and (max-width:1200px) and (min-width: 600px) {
    .cardPopUp{
        max-width: 440px;
        text-align: center;
        position: relative;
        margin-left:auto;
        margin-right:auto;
        vertical-align:middle;
        top: 5px;
     
    }
  }