.cardPopUp{
    max-width: 440px;
    position: relative;
    top: 50px;
    margin-left:auto;
    margin-right:auto;
    vertical-align:middle;
    padding: 28px;
}

.headerTitle{
    flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: cente; 
    margin: 0 auto;
}

.fromField {
    display: block;
}

.cancelbutton{
    left: 148px;
    top: 5px;
}

.savebutton{
    left: 171px;
    top: 5px;
}

.changeProfile{
    text-align: right;
}

.cancelButton{
    margin: 0px 10px;
}

.changeButton{
    text-align: right;
}