<mat-toolbar color="primary" class="header navbar">
  <a href="./home " class="navbar-brand text-white">{{headerName}}</a>
  <div class="my-2">
    <a button mat-button [matMenuTriggerFor]="menu" class="text-white">
      <ngx-avatar class="imagelogo" src="assets/profileimage.jpg" size="18"></ngx-avatar> {{loginName}}
      <mat-icon>arrow_drop_down</mat-icon>
    </a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/profile']">{{profileName}} </button>
      <button mat-menu-item [routerLink]="['/changepassword']">{{changePasswordName}} </button>
      <button mat-menu-item class="logoutButton" (click)="logout()">{{logoutTile}} </button>
    </mat-menu>
  </div>
</mat-toolbar>