  .header {
    overflow: hidden;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .header a {
    float: left; 
    color: #ffff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 22px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }

  .logoutButton{
    color: red;
  }

  .imagelogo{
    float: left;
   margin-left: 5px;
  }

  .logo{
    margin: 0px 2px;
    color: white;
    text-decoration: none;
  }
