.fromField {
    display: block;
}

.resetPassworLink{
    text-align: left;
}

.forgotHeader{
    margin-left: 100px;
}

.resetPassworMassage{
    margin-left: 10px;
}

.emailId{
    color: blue;;
}

.resetCancelButton{
    left: 323px;
    top: 18px;
}

.cancelMassage{
    text-align: right;
}

.cancelHome{
    text-align: right;
}

.cancelbutton {
    margin: 0px 10px;
}

.headerTitle{
    flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: cente; 
    margin: 0 auto;
}

@media only screen and (max-width:600px) and (min-width: 260px) {
    .forgotHeader{
        margin-left: 20px;
    }
}