.mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    white-space: pre-wrap;
    justify-content: space-around;
}

.cardPopUp { 
    max-width: 440px;
    top: 50px;
}

.mat-form-field {
    display: block;
}

.profileButton {
    text-align: right;
}

.cancel {
    margin: 4px 8px;
}
