.cardPopUp { 
    max-width: 440px;
    top: 50px;
}

.mat-form-field {
    display: block;
}

.resetButton {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.resetButton>* {
    margin: 2px;
}
 
