.fromField {
    display: block;
}

.content {
    padding: 50px;
}

.content > mat-card {
    max-width: 440px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

 .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: pre-wrap;
    justify-content: space-around;
}

.resetButton {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.resetButton>* {
    margin: 2px;
}
 
.cancelbutton {
    margin-right: 10px;
}
