.cardPopUp{
    max-width: 440px;
    text-align: center;
    position: relative;
    top: 110px;
    margin-left:auto;
    margin-right:auto;
    vertical-align:middle;
    padding: 28px;
}

.fromField {
    display: block;
}

.cancelbutton{
    left: 165px;
    top: 5px;
}

.savebutton{
    left: 185px;
    top: 5px;
}

.loginLink{
 margin-top: 14px;
}
